openapi: 3.0.3
info:
  version: 1.2.15
  title: Equinix Internet Access API
  description: Equinix Internet Access provides direct access to the Internet with scalable bandwidth options in IBX data centers. This current set of API’s allows for ordering of Equinix Internet Access on ports dedicated only to this service. Ordering virtual connections to the internet over an existing Fabric port, shared with other virtual connections, will be added in a future set of API’s. Single or dual port connections are available, ranging from 1G to 100G. Multiple large Internet Service Providers (ISPs) are used at every location to ensure redundancy. Equinix Internet Access supports various protocols, including Border Gateway Protocol (BGP), VRRP (static and direct), and Direct and Static routing. Equinix Internet Access routers are connected to local Equinix Internet Exchange (IX) switches and other partner peering platforms offering a shortcut to access local peers. This approach delivers optimal performance.
  termsOfService: https://www.equinix.com/about/legal/terms
  contact:
    name: Equinix API Support
    url: https://docs.equinix.com/api-support.htm
servers:
  - url: https://api.equinix.com
    description: Equinix API
externalDocs:
  url: https://developer.equinix.com
  description: Find more information on Equinix Developer Portal
security:
  - BearerAuth: []
tags:
  - name: Accounts
    description: Customer accounts available for Equinix Internet Access
  - name: Terms and Conditions
    description: View Equinix terms and conditions
  - name: Operational Units
    description: View Operational Units
  - name: Signature Policies
    description: List signature policies
  - name: Prices
    description: Search Equinix Internet prices by search criteria
  - name: Product Availability
    description: IBXs where Equinix Internet Access is available
  - name: Attribute Eligibility
    description: Allowed Equinix Internet Access configuration values
  - name: Purchase Orders
    description: Manage your purchase orders
  - name: Cages
    description: List cages available for Equinix Internet Access
  - name: Cabinets
    description: List cabinets available for Equinix Internet Access
  - name: Patch Panels
    description: List patch panels available for Equinix Internet Access
  - name: Connection Services
    description: List connection services available for Equinix Internet Access
  - name: EIA Order
    description: Equinix Internet Access Order API
  - name: EIA Service
    description: Equinix Internet Access Service API
paths:
  /internetAccess/v1/accounts:
    get:
      tags:
        - Accounts
      summary: Lists accounts available for user within IBX
      description: |
        List all accounts that are available for EIA ordering in a given IBX.
      operationId: listAccounts
      parameters:
        - name: operationalUnits.ibxs.ibx
          in: query
          description: Operational Unit IBX code
          required: true
          style: form
          explode: true
          schema:
            pattern: ^[A-Z]{2,3}[1-9]?[0-9]{0,2}[a-zA-Z]?$
            type: string
            example: SG1
        - name: project.projectId
          in: query
          description: Customer Resource Hierarchy Project identifier, for future use, not applicable in EIA on dedicated port scenario
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: "7348"
        - name: offset
          in: query
          description: Pagination offset
          required: false
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            example: 0
            default: 0
        - name: limit
          in: query
          description: Max number of returned results
          required: false
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            example: 50
            default: 50
      responses:
        "200":
          description: List of accounts
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountPage"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7103010
                      errorMessage: Validation Failure
                      correlationId: sampleCorrelationId
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7103001
                      errorMessage: Unauthorized
                      correlationId: sampleCorrelationId
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7103002
                      errorMessage: Forbidden
                      correlationId: sampleCorrelationId
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                internalServerError:
                  value:
                    - errorCode: EQ-7103030
                      errorMessage: Internal Server Error
                      correlationId: sampleCorrelationId
  "/internetAccess/v1/accounts/{accountNumber}":
    get:
      tags:
        - Accounts
      summary: Returns a single account
      description: |
        Account object for given account number.
      operationId: singleAccount
      parameters:
        - name: accountNumber
          in: path
          description: Number of account to search by
          required: true
          style: simple
          explode: false
          schema:
            pattern: ^\d+$
            type: string
          example: "100013200"
      responses:
        "200":
          description: Account object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountDetails"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7103010
                      errorMessage: Validation Failure
                      correlationId: sampleCorrelationId
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7103001
                      errorMessage: Unauthorized
                      correlationId: sampleCorrelationId
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7103002
                      errorMessage: Forbidden
                      correlationId: sampleCorrelationId
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7103026
                      errorMessage: No data found for the given input criteria
                      correlationId: sampleCorrelationId
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                internalServerError:
                  value:
                    - errorCode: EQ-7103030
                      errorMessage: Internal Server Error
                      correlationId: sampleCorrelationId
  "/internetAccess/v1/accounts/{accountNumber}/agreements":
    get:
      tags:
        - Accounts
      summary: Lists account agreement statuses
      description: |
        Account agreements for given account number.
      operationId: accountAgreements
      parameters:
        - name: accountNumber
          in: path
          description: Number of account to search by
          required: true
          style: simple
          explode: false
          schema:
            pattern: ^\d+$
            type: string
          example: "100013200"
        - name: ibx
          in: query
          description: Agreement IBX
          required: true
          style: form
          explode: true
          schema:
            pattern: ^[A-Z]{2,3}[1-9]?[0-9]{0,2}[a-zA-Z]?$
            type: string
          example: WA1
        - name: offset
          in: query
          description: Pagination offset
          required: false
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            example: 0
            default: 0
        - name: limit
          in: query
          description: Max number of returned results
          required: false
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            example: 50
            default: 50
      responses:
        "200":
          description: Account object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountAgreementsPage"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7103010
                      errorMessage: Validation Failure
                      correlationId: sampleCorrelationId
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7103001
                      errorMessage: Unauthorized
                      correlationId: sampleCorrelationId
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7103002
                      errorMessage: Forbidden
                      correlationId: sampleCorrelationId
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                notFound:
                  value:
                    - errorCode: EQ-7103026
                      errorMessage: No data found for the given input criteria
                      correlationId: sampleCorrelationId
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                internalServerError:
                  value:
                    - errorCode: EQ-7103030
                      errorMessage: Internal Server Error
                      correlationId: sampleCorrelationId
  /internetAccess/v1/terms:
    get:
      tags:
        - Terms and Conditions
      summary: Retrieve terms and conditions
      description: |
        Returns Terms And Conditions as HTML text
      operationId: getTermsAndConditions
      parameters:
        - name: account.accountNumber
          in: query
          description: Account number
          required: true
          style: form
          explode: true
          schema:
            type: string
          example: "123111232"
        - name: location.ibx
          in: query
          description: IBX code for given location
          required: true
          style: form
          explode: true
          schema:
            type: string
          example: CH2
        - name: offset
          in: query
          description: Pagination offset
          required: false
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            example: 0
            default: 0
        - name: limit
          in: query
          description: Max number of returned results
          required: false
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            example: 50
            default: 50
        - name: connectivitySource.type
          in: query
          description: Connectivity source type
          required: true
          style: form
          explode: true
          schema:
            type: string
            enum:
              - COLO
          example: COLO
        - name: product
          in: query
          description: Product
          required: true
          style: form
          explode: true
          schema:
            type: string
            enum:
              - IA_C
              - IA_VC
              - MC_C
          example: IA_C
        - name: type
          in: query
          description: Agreement type
          required: false
          style: form
          explode: true
          schema:
            type: string
            enum:
              - TERMS_AND_CONDITIONS
              - RENEWAL_TERMS
              - PRICE_INCREASE_TERMS
          example: TERMS_AND_CONDITIONS
        - name: language
          in: query
          description: 2 letter ISO 639-1 language code
          required: false
          style: form
          explode: true
          schema:
            maxLength: 2
            minLength: 2
            type: string
            default: en
          example: en
      responses:
        "200":
          description: Terms and conditions HTML string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TermsAndConditionsPage"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7104010
                      errorMessage: Validation Failure
                      correlationId: sampleCorrelationId
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7104001
                      errorMessage: Unauthorized
                      correlationId: sampleCorrelationId
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7104002
                      errorMessage: Forbidden
                      correlationId: sampleCorrelationId
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                internalServerError:
                  value:
                    - errorCode: EQ-7104030
                      errorMessage: Internal Server Error
                      correlationId: sampleCorrelationId
  /internetAccess/v1/operationalUnits:
    get:
      tags:
        - Operational Units
      summary: List operational units
      description: |
        Returns list of operational units as JSON object list
      operationId: getOperationalUnits
      parameters:
        - name: location.ibx
          in: query
          description: Operational Unit IBX code
          required: true
          style: form
          explode: true
          schema:
            pattern: ^[A-Z]{2,3}[1-9]?[0-9]{0,2}[a-zA-Z]?$
            type: string
            example: SG1
        - name: offset
          in: query
          description: Pagination offset
          required: false
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            example: 0
            default: 0
        - name: limit
          in: query
          description: Max number of returned results
          required: false
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            example: 50
            default: 50
      responses:
        "200":
          description: Operational Units JSON single element list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationalUnitPage"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7104010
                      errorMessage: Validation Failure
                      correlationId: sampleCorrelationId
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7104001
                      errorMessage: Unauthorized
                      correlationId: sampleCorrelationId
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7104002
                      errorMessage: Forbidden
                      correlationId: sampleCorrelationId
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                notFound:
                  value:
                    - errorCode: EQ-7104026
                      errorMessage: No data found for the given input criteria
                      correlationId: sampleCorrelationId
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                internalServerError:
                  value:
                    - errorCode: EQ-7104030
                      errorMessage: Internal Server Error
                      correlationId: sampleCorrelationId
  /internetAccess/v1/signaturePolicies:
    get:
      tags:
        - Signature Policies
      summary: List signature policies
      description: |
        Returns list of signature policies as JSON object list
      operationId: getSignaturePolicies
      parameters:
        - name: offset
          in: query
          description: Pagination offset
          required: false
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            example: 0
            default: 0
        - name: limit
          in: query
          description: Max number of returned results
          required: false
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            example: 50
            default: 50
        - name: location.countryCode
          in: query
          description: Country code
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: US
      responses:
        "200":
          description: Signature policies list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignaturePoliciesPage"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7104010
                      errorMessage: Validation Failure
                      correlationId: sampleCorrelationId
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7104001
                      errorMessage: Unauthorized
                      correlationId: sampleCorrelationId
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7104002
                      errorMessage: Forbidden
                      correlationId: sampleCorrelationId
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                internalServerError:
                  value:
                    - errorCode: EQ-7104030
                      errorMessage: Internal Server Error
                      correlationId: sampleCorrelationId
  /internetAccess/v1/prices/search:
    post:
      tags:
        - Prices
      summary: Search EIA prices
      description: Search Equinix Internet Access prices by criteria. Currency depends on the billing account. Internally prices are processed according to ISO 4217 standard. Prices are returned as numbers. If for any reason a product or its part is provided for free, then it will be listed in the response with a price of 0.
      operationId: searchPrices
      parameters:
        - name: offset
          in: query
          description: Pagination offset
          required: false
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            example: 0
            default: 0
        - name: limit
          in: query
          description: Max number of returned results
          required: false
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            example: 50
            default: 50
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FilterBody"
            examples:
              searchDedicatedSinglePortPIRequest:
                $ref: "#/components/examples/SearchDedicatedSinglePortPIRequest"
              searchDedicatedDualPortPARequest:
                $ref: "#/components/examples/SearchDedicatedDualPortPARequest"
              searchDedicatedBurstBillingRequest:
                $ref: "#/components/examples/SearchDedicatedBurstBillingLagRequest"
              searchDedicatedManagementAccessMinimalRequest:
                $ref: "#/components/examples/SearchDedicatedManagementAccessMinimalRequest"
              searchIpBlockV4Request:
                $ref: "#/components/examples/SearchIpBlockV4Request"
              searchIpBlockV6Request:
                $ref: "#/components/examples/SearchIpBlockV6Request"
        required: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PriceSearchResponse"
              examples:
                searchDedicatedSinglePortPIResponse:
                  $ref: "#/components/examples/200_searchDedicatedSinglePortPIResponse"
                searchDedicatedDualPortPAResponse:
                  $ref: "#/components/examples/200_searchDedicatedDualPortPAResponse"
                searchDedicatedBurstBillingLagResponse:
                  $ref: "#/components/examples/200_searchDedicatedBurstBillingLagResponse"
                searchDedicatedManagementAccessResponse:
                  $ref: "#/components/examples/200_searchDedicatedManagementAccessResponse"
                searchIpBlockV4Response:
                  $ref: "#/components/examples/200_searchIpBlockV4Response"
                searchIpBlockV6Response:
                  $ref: "#/components/examples/200_searchIpBlockV6Response"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7101010
                      errorMessage: Validation Failure
                      correlationId: sampleCorrelationId
                      additionalInfo:
                        - property: /filter/and/2/values
                          reason: Property '/service/connection/type' has too many values for operator '='!
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7101001
                      errorMessage: Unauthorized
                      correlationId: sampleCorrelationId
        "403":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                forbidden:
                  value:
                    - errorCode: EQ-7101002
                      errorMessage: Forbidden
                      details: User is not logged in
                      correlationId: sampleCorrelationId
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                internalServerError:
                  value:
                    - errorCode: EQ-7101030
                      errorMessage: Internal Server Error
                      correlationId: sampleCorrelationId
  "/internetAccess/v1/ibxs/{ibx}":
    get:
      tags:
        - Product Availability
      summary: Returns requested IBX where EIA is available
      description: Get IBX
      operationId: getIbx
      parameters:
        - name: ibx
          in: path
          description: Ibx code
          required: true
          style: simple
          explode: false
          schema:
            type: string
            example: WA1
        - name: service.connection.type
          in: query
          description: Service connection type (physical, virtual)
          required: false
          style: form
          explode: true
          schema:
            type: string
            enum:
              - IA_C
              - IA_VC
        - name: connection.aside.accessPoint.type
          in: query
          description: Service connection access point type. When not provided, COLO type is used by default.
          required: false
          style: form
          explode: true
          schema:
            type: string
            enum:
              - COLO
              - VD
      responses:
        "200":
          description: List of Metros and IBXs
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ibx"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7102010
                      errorMessage: Validation Failure
                      correlationId: sampleCorrelationId
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7102001
                      errorMessage: Unauthorized
                      correlationId: sampleCorrelationId
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7102002
                      errorMessage: Forbidden
                      correlationId: sampleCorrelationId
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7106026
                      errorMessage: Not Found
                      correlationId: sampleCorrelationId
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                internalServerError:
                  value:
                    - errorCode: EQ-7102030
                      errorMessage: Internal Server Error
                      correlationId: sampleCorrelationId
  /internetAccess/v1/ibxs:
    get:
      tags:
        - Product Availability
      summary: Returns IBXs where EIA is available
      description: Get IBXs
      operationId: getIbxs
      parameters:
        - name: offset
          in: query
          description: Pagination offset
          required: false
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            example: 0
            default: 0
        - name: limit
          in: query
          description: Max number of returned results
          required: false
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            example: 50
            default: 50
        - name: service.connection.type
          in: query
          description: Service connection type (physical, virtual)
          required: true
          style: form
          explode: true
          schema:
            type: string
            example: IA_C
            enum:
              - IA_C
              - IA_VC
        - name: connection.aside.accessPoint.type
          in: query
          description: Service connection access point type. When not provided, COLO type is used by default.
          required: false
          style: form
          explode: true
          schema:
            type: string
            enum:
              - COLO
              - VD
      responses:
        "200":
          description: List of Metros and IBXs
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IbxPage"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7102010
                      errorMessage: Validation Failure
                      correlationId: sampleCorrelationId
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7102001
                      errorMessage: Unauthorized
                      correlationId: sampleCorrelationId
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7102002
                      errorMessage: Forbidden
                      correlationId: sampleCorrelationId
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                internalServerError:
                  value:
                    - errorCode: EQ-7102030
                      errorMessage: Internal Server Error
                      correlationId: sampleCorrelationId
  /internetAccess/v1/routingProtocolConfigurations:
    get:
      tags:
        - Attribute Eligibility
      summary: Routing Protocol Attribute Eligibility API Endpoint
      description: Get routing protocol configurations
      operationId: getRoutingConfigurations
      parameters:
        - name: useCase
          in: query
          description: Use case
          required: true
          style: form
          explode: true
          schema:
            type: string
            example: MAIN
            enum:
              - MAIN
              - BACKUP
              - MANAGEMENT_ACCESS
        - name: type
          in: query
          description: Port type
          required: false
          style: form
          explode: true
          schema:
            $ref: "#/components/schemas/ProductCatalogRedundancy"
        - name: offset
          in: query
          description: Pagination offset
          required: false
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            example: 0
            default: 0
        - name: limit
          in: query
          description: Max number of returned results
          required: false
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            example: 50
            default: 50
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoutingProtocolConfigurationPage"
              examples:
                200_OK:
                  value:
                    pagination:
                      offset: 0
                      limit: 20
                      total: 1
                    data:
                      - useCase: MAIN
                        type: DUAL_PORT
                        routingProtocol:
                          type: STATIC
                          ipv4:
                            customerRoute:
                              importPolicy: PA
                            peering:
                              vrrpEnabled: true
                              peerSubnet:
                                prefixLength: 29
                                quantity: 1
                          ipv6:
                            customerRoute:
                              importPolicy: PA
                            peering:
                              vrrpEnabled: true
                              peerSubnet:
                                prefixLength: 64
                                quantity: 1
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7102010
                      errorMessage: Validation Failure
                      correlationId: sampleCorrelationId
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7102001
                      errorMessage: Unauthorized
                      correlationId: sampleCorrelationId
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7102002
                      errorMessage: Forbidden
                      correlationId: sampleCorrelationId
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                internalServerError:
                  value:
                    - errorCode: EQ-7102030
                      errorMessage: Internal Server Error
                      correlationId: sampleCorrelationId
  /internetAccess/v1/dedicatedBandwidthConfigurations:
    get:
      tags:
        - Attribute Eligibility
      summary: Dedicated Bandwidth Attribute Eligibility API Endpoint
      description: Get dedicated bandwidth configurations
      operationId: getDedicatedBandwidthConfigurations
      parameters:
        - name: connection.aside.accessPoint.port.physicalPort.speed
          in: query
          description: ASide access point physical port speed (Mbps), i.e. 1000, 10000, 100000
          required: false
          style: form
          explode: true
          schema:
            type: integer
        - name: billing
          in: query
          description: Billing type
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: BURST_BASED
            enum:
              - FIXED
              - USAGE_BASED
              - BURST_BASED
        - name: useCase
          in: query
          description: Use case
          required: true
          style: form
          explode: true
          schema:
            type: string
            example: MAIN
            enum:
              - MAIN
              - BACKUP
              - MANAGEMENT_ACCESS
        - name: offset
          in: query
          description: Pagination offset
          required: false
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            example: 0
            default: 0
        - name: limit
          in: query
          description: Max number of returned results
          required: false
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            example: 50
            default: 50
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DedicatedBandwidthConfigurationPage"
              examples:
                getDedicatedBandwidthConfigurationsResponse:
                  $ref: "#/components/examples/200_dedicatedBandwidthConfigurations"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7102010
                      errorMessage: Validation Failure
                      correlationId: sampleCorrelationId
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7102001
                      errorMessage: Unauthorized
                      correlationId: sampleCorrelationId
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7102002
                      errorMessage: Forbidden
                      correlationId: sampleCorrelationId
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                internalServerError:
                  value:
                    - errorCode: EQ-7102030
                      errorMessage: Internal Server Error
                      correlationId: sampleCorrelationId
  /internetAccess/v1/virtualBandwidthConfigurations:
    get:
      tags:
        - Attribute Eligibility
      summary: Virtual Bandwidth Attribute Eligibility API Endpoint
      description: Get virtual bandwidth configurations
      operationId: getVirtualBandwidthConfigurations
      parameters:
        - name: useCase
          in: query
          description: Use case
          required: true
          style: form
          explode: true
          schema:
            type: string
            example: MAIN
            enum:
              - MAIN
              - BACKUP
              - MANAGEMENT_ACCESS
        - name: billing
          in: query
          description: Billing type
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: BURST_BASED
            enum:
              - FIXED
              - USAGE_BASED
              - BURST_BASED
        - name: offset
          in: query
          description: Pagination offset
          required: false
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            example: 0
            default: 0
        - name: limit
          in: query
          description: Max number of returned results
          required: false
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            example: 50
            default: 50
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VirtualBandwidthConfigurationPage"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7102010
                      errorMessage: Validation Failure
                      correlationId: sampleCorrelationId
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7102001
                      errorMessage: Unauthorized
                      correlationId: sampleCorrelationId
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7102002
                      errorMessage: Forbidden
                      correlationId: sampleCorrelationId
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                internalServerError:
                  value:
                    - errorCode: EQ-7102030
                      errorMessage: Internal Server Error
                      correlationId: sampleCorrelationId
  /internetAccess/v1/virtualConnectionDefaultConfigurations:
    get:
      tags:
        - Attribute Eligibility
      summary: Virtual Connection Default Configuration Attribute Eligibility API Endpoint
      description: Get virtual connection default configurations
      operationId: getVirtualConnectionDefaultConfigurations
      parameters:
        - name: connection.aside.accessPoint.location.metroCode
          in: query
          description: Access point Metro code
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: connection.aside.accessPoint.location.ibx
          in: query
          description: Access point IBX code
          required: true
          style: form
          explode: true
          schema:
            pattern: ^[A-Z]{2,3}[1-9]?[0-9]{0,2}[a-zA-Z]?$
            type: string
            example: WA1
        - name: offset
          in: query
          description: Pagination offset
          required: false
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            example: 0
            default: 0
        - name: limit
          in: query
          description: Max number of returned results
          required: false
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            example: 50
            default: 50
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VirtualConnectionDefaultConfigurationPage"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7102010
                      errorMessage: Validation Failure
                      correlationId: sampleCorrelationId
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7102001
                      errorMessage: Unauthorized
                      correlationId: sampleCorrelationId
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7102002
                      errorMessage: Forbidden
                      correlationId: sampleCorrelationId
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                internalServerError:
                  value:
                    - errorCode: EQ-7102030
                      errorMessage: Internal Server Error
                      correlationId: sampleCorrelationId
  /internetAccess/v1/customerRouteConfigurations:
    get:
      tags:
        - Attribute Eligibility
      summary: Customer Route Configuration API Endpoint
      description: Get customer route configurations
      operationId: getCustomerRouteConfigurations
      parameters:
        - name: offset
          in: query
          description: Pagination offset
          required: false
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            example: 0
            default: 0
        - name: limit
          in: query
          description: Max number of returned results
          required: false
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            example: 50
            default: 50
        - name: useCase
          in: query
          description: Use case
          required: true
          style: form
          explode: true
          schema:
            type: string
            example: MAIN
            enum:
              - MAIN
              - BACKUP
              - MANAGEMENT_ACCESS
        - name: type
          in: query
          description: Type of Equinix Internet Access Service
          required: false
          style: form
          explode: true
          schema:
            $ref: "#/components/schemas/ProductCatalogRedundancy"
        - name: routingProtocol.type
          in: query
          description: Type of Routing Protocol
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: BGP
            enum:
              - BGP
              - DIRECT
              - STATIC
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerRouteConfigurationPage"
              examples:
                ipv4:
                  value:
                    pagination:
                      offset: 0
                      limit: 20
                      total: 1
                    data:
                      - type: SINGLE_PORT
                        routingProtocol:
                          type: BGP
                          ipv4:
                            customerRoute:
                              importPolicy: PA
                              prefixLength: 28
                            peering:
                              vrrpEnabled: false
                ipv6:
                  value:
                    pagination:
                      offset: 0
                      limit: 20
                      total: 1
                    data:
                      - type: SINGLE_PORT
                        routingProtocol:
                          type: DIRECT
                          ipv6:
                            customerRoute:
                              importPolicy: PA
                              prefixLength: 64
                            peering:
                              vrrpEnabled: true
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7102010
                      errorMessage: Validation Failure
                      correlationId: sampleCorrelationId
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7102001
                      errorMessage: Unauthorized
                      correlationId: sampleCorrelationId
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7102002
                      errorMessage: Forbidden
                      correlationId: sampleCorrelationId
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                internalServerError:
                  value:
                    - errorCode: EQ-7102030
                      errorMessage: Internal Server Error
                      correlationId: sampleCorrelationId
  /internetAccess/v1/dedicatedPortDefaultConfigurations:
    get:
      tags:
        - Attribute Eligibility
      summary: Dedicated port default configurations API Endpoint
      description: Get dedicated port default configurations
      operationId: getDedicatedPortDefaultConfigurationsPage
      parameters:
        - name: connection.aside.accessPoint.location.ibx
          in: query
          description: ASide access point location IBX
          required: true
          style: form
          explode: true
          schema:
            type: string
            example: WA1
        - name: offset
          in: query
          description: Pagination offset
          required: false
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            example: 0
            default: 0
        - name: limit
          in: query
          description: Max number of returned results
          required: false
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            example: 50
            default: 50
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DedicatedPortDefaultConfigurationsPage"
              examples:
                getDedicatedPortDefaultConfigurations:
                  $ref: "#/components/examples/200_dedicatedPortDefaultConfigurations"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7102010
                      errorMessage: Validation Failure
                      correlationId: sampleCorrelationId
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7102001
                      errorMessage: Unauthorized
                      correlationId: sampleCorrelationId
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7102002
                      errorMessage: Forbidden
                      correlationId: sampleCorrelationId
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                internalServerError:
                  value:
                    - errorCode: EQ-7102030
                      errorMessage: Internal Server Error
                      correlationId: sampleCorrelationId
  /internetAccess/v1/portConfigurations:
    get:
      tags:
        - Attribute Eligibility
      summary: Dedicated Port Attribute Eligibility API Endpoint
      description: Get port configurations
      operationId: getPortConfigurations
      parameters:
        - name: connection.aside.accessPoint.port.location.ibx
          in: query
          description: ASide access point port location IBX
          required: true
          style: form
          explode: true
          schema:
            pattern: ^[A-Z]{2,3}[1-9]?[0-9]{0,2}[a-zA-Z]?$
            type: string
            example: WA1
        - name: useCase
          in: query
          description: Use case
          required: true
          style: form
          explode: true
          schema:
            type: string
            example: MAIN
            enum:
              - MAIN
              - BACKUP
              - MANAGEMENT_ACCESS
        - name: offset
          in: query
          description: Pagination offset
          required: false
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            example: 0
            default: 0
        - name: limit
          in: query
          description: Max number of returned results
          required: false
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            example: 50
            default: 50
      responses:
        "200":
          description: Ok
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PortConfigurationPage"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7102010
                      errorMessage: Validation Failure
                      correlationId: sampleCorrelationId
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7102001
                      errorMessage: Unauthorized
                      correlationId: sampleCorrelationId
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7102002
                      errorMessage: Forbidden
                      correlationId: sampleCorrelationId
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                internalServerError:
                  value:
                    - errorCode: EQ-7102030
                      errorMessage: Internal Server Error
                      correlationId: sampleCorrelationId
  "/internetAccess/v1/accounts/{accountNumber}/purchaseOrders":
    get:
      tags:
        - Purchase Orders
      summary: List purchase orders
      description: List purchase orders
      operationId: getPurchaseOrders
      parameters:
        - name: locations.ibx
          in: query
          description: IBX code
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: WA1
        - name: accountNumber
          in: path
          description: Number of account to search by
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: "100013200"
        - name: category
          in: query
          description: product category
          required: false
          style: form
          explode: true
          schema:
            type: string
            default: INTERCONNECTION
            enum:
              - ALL_SERVICES
              - INTERCONNECTION
              - SMART_HANDS
              - POWER
              - NETWORK
              - SERVICES
              - SPACE
        - name: offset
          in: query
          description: Pagination offset
          required: false
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            example: 0
            default: 0
        - name: limit
          in: query
          description: Max number of returned results
          required: false
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            example: 50
            default: 50
      responses:
        "200":
          description: Purchase orders matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PurchaseOrdersPage"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7106010
                      errorMessage: Validation Failure
                      correlationId: sampleCorrelationId
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7106001
                      errorMessage: Unauthorized
                      correlationId: sampleCorrelationId
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7106002
                      errorMessage: Forbidden
                      correlationId: sampleCorrelationId
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7106026
                      errorMessage: Not Found
                      correlationId: sampleCorrelationId
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                internalServerError:
                  value:
                    - errorCode: EQ-7106030
                      errorMessage: Internal Server Error
                      correlationId: sampleCorrelationId
  "/internetAccess/v1/accounts/{accountNumber}/purchaseOrders/{number}":
    get:
      tags:
        - Purchase Orders
      summary: Get specified purchase order
      description: Returns single purchase order
      operationId: getPurchaseOrder
      parameters:
        - name: accountNumber
          in: path
          description: Number of account to search by
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: "100013200"
        - name: number
          in: path
          description: purchase order number
          required: true
          schema:
            type: string
          example: PO-1234567
      responses:
        "200":
          description: Purchase orders matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PurchaseOrder"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7106010
                      errorMessage: Validation Failure
                      correlationId: sampleCorrelationId
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7106001
                      errorMessage: Unauthorized
                      correlationId: sampleCorrelationId
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7106002
                      errorMessage: Forbidden
                      correlationId: sampleCorrelationId
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7106026
                      errorMessage: Not Found
                      correlationId: sampleCorrelationId
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                internalServerError:
                  value:
                    - errorCode: EQ-7106030
                      errorMessage: Internal Server Error
                      correlationId: sampleCorrelationId
  /internetAccess/v1/cages:
    get:
      tags:
        - Cages
      summary: Get list of available Cages
      description: |
        Only Cages available for EIA should be returned
      operationId: getCages
      parameters:
        - name: location.ibx
          in: query
          description: IBX code for given location
          required: true
          style: form
          explode: true
          schema:
            type: string
          example: CH2
        - name: account.accountNumber
          in: query
          description: Account number
          required: true
          style: form
          explode: true
          schema:
            type: string
          example: "123111232"
        - name: offset
          in: query
          description: Pagination offset
          required: false
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            example: 0
            default: 0
        - name: limit
          in: query
          description: Max number of returned results
          required: false
          style: form
          explode: true
          schema:
            maximum: 250
            minimum: 0
            type: integer
            example: 50
            default: 50
      responses:
        "200":
          description: List of Cages
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CagesPage"
              examples:
                getCagesResponse:
                  $ref: "#/components/examples/200_cageResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7105010
                      errorMessage: Validation Failure
                      correlationId: sampleCorrelationId
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7105001
                      errorMessage: Unauthorized
                      correlationId: sampleCorrelationId
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7105002
                      errorMessage: Forbidden
                      correlationId: sampleCorrelationId
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                internalServerError:
                  value:
                    - errorCode: EQ-7105030
                      errorMessage: Internal Server Error
                      correlationId: sampleCorrelationId
  /internetAccess/v1/cabinets:
    get:
      tags:
        - Cabinets
      summary: Get list of available Cabinets
      description: |
        Only Cabinets available for EIA should be returned
      operationId: getCabinets
      parameters:
        - name: cage.spaceId
          in: query
          description: Cage space ID
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: CH2:03:00603
        - name: location.ibx
          in: query
          description: IBX code for given location
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: CH2
        - name: account.accountNumber
          in: query
          description: Account number
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: "123111232"
        - name: offset
          in: query
          description: Pagination offset
          required: false
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            example: 0
            default: 0
        - name: limit
          in: query
          description: Max number of returned results
          required: false
          style: form
          explode: true
          schema:
            maximum: 250
            minimum: 0
            type: integer
            example: 50
            default: 50
      responses:
        "200":
          description: List of Cabinets
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CabinetsPage"
              examples:
                getCabinets:
                  $ref: "#/components/examples/200_cabinetResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7105010
                      errorMessage: Validation Failure
                      correlationId: sampleCorrelationId
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7105001
                      errorMessage: Unauthorized
                      correlationId: sampleCorrelationId
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7105002
                      errorMessage: Forbidden
                      correlationId: sampleCorrelationId
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                internalServerError:
                  value:
                    - errorCode: EQ-7105030
                      errorMessage: Internal Server Error
                      correlationId: sampleCorrelationId
  /internetAccess/v1/patchPanels:
    get:
      tags:
        - Patch Panels
      summary: Get list of available Patch Panels
      description: |
        Only Cages available for EIA should be returned
      operationId: getPatchPanels
      parameters:
        - name: location.ibx
          in: query
          description: IBX code for given location
          required: true
          style: form
          explode: true
          schema:
            type: string
          example: CH2
        - name: account.accountNumber
          in: query
          description: Account number
          required: true
          style: form
          explode: true
          schema:
            type: string
          example: "123111232"
        - name: cage.spaceId
          in: query
          description: Cage space ID
          required: true
          style: form
          explode: true
          schema:
            type: string
          example: CH2:03:00603
        - name: cabinet.spaceId
          in: query
          description: Cabinet space ID
          required: true
          style: form
          explode: true
          schema:
            type: string
          example: CH1:01:011201:0204
        - name: mediaTypes.name
          in: query
          description: Media Type
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: SINGLE_MODE_FIBER
        - name: offset
          in: query
          description: Pagination offset
          required: false
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            example: 0
            default: 0
        - name: limit
          in: query
          description: Max number of returned results
          required: false
          style: form
          explode: true
          schema:
            maximum: 250
            minimum: 0
            type: integer
            example: 50
            default: 50
      responses:
        "200":
          description: List of Patch Panels
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PatchPanelsPage"
              examples:
                getPatchPanels:
                  $ref: "#/components/examples/200_patchPanelsResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7105010
                      errorMessage: Validation Failure
                      correlationId: sampleCorrelationId
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7105001
                      errorMessage: Unauthorized
                      correlationId: sampleCorrelationId
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7105002
                      errorMessage: Forbidden
                      correlationId: sampleCorrelationId
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                internalServerError:
                  value:
                    - errorCode: EQ-7105030
                      errorMessage: Internal Server Error
                      correlationId: sampleCorrelationId
  /internetAccess/v1/connectionServices:
    get:
      tags:
        - Connection Services
      summary: Get list of available connection services
      description: |
        Only Connection Services available for EIA should be returned
      operationId: getConnectionServices
      parameters:
        - name: mediaTypes.connectorTypes.locations.ibx
          in: query
          description: IBX Code
          required: true
          style: form
          explode: true
          schema:
            type: string
          example: SG1
        - name: offset
          in: query
          description: Pagination offset
          required: false
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            example: 0
            default: 0
        - name: limit
          in: query
          description: Max number of returned results
          required: false
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
            example: 50
            default: 50
      responses:
        "200":
          description: List of Connection Services
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectionServicesPage"
              examples:
                getConnectionServices:
                  $ref: "#/components/examples/200_connectionServiceResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7105010
                      errorMessage: Validation Failure
                      correlationId: sampleCorrelationId
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7105001
                      errorMessage: Unauthorized
                      correlationId: sampleCorrelationId
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7105002
                      errorMessage: Forbidden
                      correlationId: sampleCorrelationId
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                internalServerError:
                  value:
                    - errorCode: EQ-7105030
                      errorMessage: Internal Server Error
                      correlationId: sampleCorrelationId
  "/internetAccess/v1/orders/{orderUUID}":
    get:
      tags:
        - EIA Order
      summary: Returns EIA Order details
      description: |
        Returns Order details
      operationId: getOrder
      parameters:
        - name: orderUUID
          in: path
          description: UUID of the checked order
          required: true
          style: simple
          explode: false
          schema:
            type: string
            format: uuid
          example: d27c0f84-f1da-498e-95c0-f3d3ae02d16d
      responses:
        "200":
          description: Order details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderDetails"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7100010
                      errorMessage: Validation Failure
                      correlationId: sampleCorrelationId
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7100001
                      errorMessage: Unauthorized
                      correlationId: sampleCorrelationId
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7100002
                      errorMessage: Forbidden
                      correlationId: sampleCorrelationId
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7100026
                      errorMessage: No data found for the given input criteria
                      correlationId: sampleCorrelationId
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                internalServerError:
                  value:
                    - errorCode: EQ-7100030
                      errorMessage: Internal Server Error
                      correlationId: sampleCorrelationId
  /internetAccess/v1/services:
    post:
      tags:
        - EIA Service
      summary: Creates Equinix Internet Access Service
      description: |
        By passing in the appropriate options, you can create Equinix Internet Access Service product. The entire request either succeeds or fails. In case of failure all the changes in the system are rolled back, so the system gets back to its stated before submitting the request
      operationId: createEquinixInternetAccess
      parameters: []
      requestBody:
        description: |
          Options for creating Equinix Internet Access Service product
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ServiceRequest"
        required: true
      responses:
        "201":
          description: |
            Equinix Internet Access Service Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Service"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7100010
                      errorMessage: Validation Failure
                      correlationId: sampleCorrelationId
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7100001
                      errorMessage: Unauthorized
                      correlationId: sampleCorrelationId
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7100002
                      errorMessage: Forbidden
                      correlationId: sampleCorrelationId
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                internalServerError:
                  value:
                    - errorCode: EQ-7100030
                      errorMessage: Internal Server Error
                      correlationId: sampleCorrelationId
  "/internetAccess/v1/services/{serviceId}":
    delete:
      tags:
        - EIA Service
      summary: Deletes Equinix Internet Access Service
      description: "Delete Equinix Internet Access product by passing the id of the service. \nThe entire request either succeeds or fails.\n"
      operationId: deleteEquinixInternetAccess
      parameters:
        - name: serviceId
          in: path
          description: Service identifier
          required: true
          style: simple
          explode: false
          schema:
            type: string
            description: Service identifier
            format: uuid
            example: 919ac898-a4b9-4f9d-b684-aa09ddc65b1b
        - name: dryRun
          in: query
          description: Setting this parameter to true will perform only request validation without actually deleting the service
          required: false
          style: form
          explode: false
          schema:
            type: boolean
            description: Setting this parameter to true will perform only request validation without actually deleting the service
            example: true
      responses:
        "202":
          description: |
            Equinix Internet Access Service Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Service"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7100010
                      errorMessage: Validation Failure
                      correlationId: sampleCorrelationId
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7100001
                      errorMessage: Unauthorized
                      correlationId: sampleCorrelationId
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7100002
                      errorMessage: Forbidden
                      correlationId: sampleCorrelationId
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                invalidProperty:
                  value:
                    - errorCode: EQ-7100003
                      errorMessage: Not found
                      correlationId: sampleCorrelationId
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorList"
              examples:
                internalServerError:
                  value:
                    - errorCode: EQ-7100030
                      errorMessage: Internal Server Error
                      correlationId: sampleCorrelationId
  /internetAccess/v1/services/search:
    post:
      tags:
        - EIA Service
      summary: Get Equinix Internet Access Services
      description: |
        Get Equinix Internet Access Services that match specified criteria.
      operationId: getEquinixInternetAccessServices
      parameters:
        - name: offset
          in: query
          description: Search result offset
          required: false
          style: form
          explode: false
          schema:
            type: number
            example: 20
          x-internal: false
        - name: limit
          in: query
          description: Search result limit
          required: false
          style: form
          explode: false
          schema:
            type: number
            example: 35
          x-internal: false
        - name: sort
          in: query
          description: Search result sorting
          required: false
          style: form
          explode: false
          schema:
            pattern: ^([-]?[\/][a-z]+[,]?)+$
            type: string
            example: /name,-/type
          x-internal: false
      requestBody:
        description: Search filters
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchRequest"
      responses:
        "200":
          description: Equinix Internet Access Viewer response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResponse"
        "400":
          description: Invalid input parameter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
        "401":
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
        "403":
          description: Unathorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
      x-content-type: application/json
      x-accepts: application/json
  "/internetAccess/v1/services/{serviceUuid}":
    get:
      tags:
        - EIA Service
      summary: Get Equinix Internet Access Service details
      description: |
        Get Equinix Internet Access Service details.
      operationId: getEquinixInternetAccessServiceDetails
      parameters:
        - name: serviceUuid
          in: path
          description: Service identifier
          required: true
          style: simple
          explode: false
          schema:
            type: string
            description: Service identifier
            format: uuid
            example: 919ac898-a4b9-4f9d-b684-aa09ddc65b1b
      responses:
        "200":
          description: Equinix Internet Access Service details response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceDetailsResponse"
        "401":
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
        "404":
          description: Item not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Errors"
      x-accepts: application/json
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    AccountPage:
      required:
        - data
        - pagination
      type: object
      properties:
        pagination:
          $ref: "#/components/schemas/Pagination"
        data:
          type: array
          items:
            $ref: "#/components/schemas/AccountDetails"
    AccountAgreementsPage:
      required:
        - data
        - pagination
      type: object
      properties:
        pagination:
          $ref: "#/components/schemas/Pagination"
        data:
          type: array
          items:
            $ref: "#/components/schemas/AccountAgreements_data"
    AccountDetails:
      required:
        - accountName
        - accountNumber
        - billing
        - operationalUnits
      type: object
      properties:
        accountNumber:
          type: string
          example: "100013200"
        accountName:
          type: string
          example: Web Henderson
        billing:
          $ref: "#/components/schemas/Account_billing"
        operationalUnits:
          type: array
          items:
            $ref: "#/components/schemas/AccountOperationalUnit"
        orgId:
          type: string
          description: Customer organization identifier
          example: "1232"
        organizationName:
          type: string
          description: Customer organization name
          example: Equinix, Inc.
    AccountOperationalUnit:
      required:
        - ibxs
      type: object
      properties:
        ibxs:
          type: array
          items:
            $ref: "#/components/schemas/OperationalUnit_ibxs"
        metros:
          type: array
          items:
            $ref: "#/components/schemas/OperationalUnit_metros"
    AccountAgreements_data:
      type: object
      properties:
        ibx:
          type: string
          example: WA1
        type:
          type: string
          description: MCA - Master Country Agreement, GTC - Global Terms & Conditions
          example: MCA_GTC
          enum:
            - MCA_GTC
        valid:
          type: boolean
          example: true
    Account_billing:
      required:
        - currency
        - poBearing
        - poExempted
        - signatureRequired
      type: object
      properties:
        signatureRequired:
          type: boolean
          description: Whether the signature is required
          example: false
        poExempted:
          type: boolean
          description: Whether the purchase order has been exempted
          example: true
        poBearing:
          type: boolean
          description: Whether the purchase order is required
          example: true
        currency:
          $ref: "#/components/schemas/CurrencyCode"
    OperationalUnit_ibxs:
      required:
        - ibx
      type: object
      properties:
        ibx:
          type: string
          example: WA1
    OperationalUnit_metros:
      required:
        - metroCode
      type: object
      properties:
        metroCode:
          type: string
          example: WA
    ErrorList:
      type: array
      description: List of Error Message
      items:
        $ref: "#/components/schemas/Error"
    Error:
      required:
        - errorCode
        - errorMessage
      type: object
      properties:
        errorCode:
          pattern: ^EQ-\d{7}$
          type: string
          description: |
            Error code
          readOnly: true
          example: EQ-7100100
        errorMessage:
          type: string
          description: Error message
          readOnly: true
          example: |
            Unknown error occurred in Internet Access
        correlationId:
          type: string
          description: |
            Correlation ID identifying the request
          readOnly: true
          example: 4e7b5042-b553-4d5e-a2ac-c73bf6d4ee27
        details:
          type: string
          description: |
            Error details
          readOnly: true
          example: |
            Unknown error occurred in Internet Access
        help:
          type: string
          description: |
            Link to the help information
          format: uri
          readOnly: true
          example: https://developer.equinix.com/faq
        additionalInfo:
          type: array
          description: |
            Collection of additional information
          readOnly: true
          items:
            $ref: "#/components/schemas/ErrorAdditionalInfo"
      description: Error Response with details
      readOnly: true
    ErrorAdditionalInfo:
      type: object
      properties:
        reason:
          type: string
          description: |
            Reason of the error
          example: |
            Unsupported request parameter value
        property:
          type: string
          description: |
            Request property that caused the error
          example: work.emailId
      description: Additional info for error
    Pagination:
      required:
        - limit
        - offset
        - total
      type: object
      properties:
        offset:
          minimum: 0
          type: integer
          format: int64
          example: 0
        limit:
          minimum: 0
          type: integer
          format: int64
          example: 20
        total:
          type: integer
          format: int64
          example: 2
        next:
          type: string
          description: Next page link
        previous:
          type: string
          description: Previous page link
[...]
